In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
 raw = pd.DataFrame(
[[[3.6,3.8,4.1],[2.9,3.1,3.0],[2.6,2.5,2.9]],
[[4.2,4.0,4.1],[3.3,2.9,3.2],[3.7,3.5,3.6]],
[[3.8,3.5,3.6],[3.6,3.7,3.5],[3.2,3.0,3.4]],
[[3.4,3.2,3.2],[3.4,3.6,3.5],[3.6,3.8,3.7]]]
)

In [3]:
df = pd.DataFrame({'B' : ['B1', 'B2', 'B3', 'B4'],
                   'A1': [3.83, 4.1, 3.63, 3.27],
                   'A2': [3, 3.1, 3.6, 3.5],
                   'A3': [2.67, 3.6, 3.2, 3.7]})
k = 3
m = 4
n = 3

In [4]:
df.loc[5] = ['SUM'] + [sum(df['A1']),sum(df['A2']),sum(df['A3'])]
df['sum'] = df.sum(axis=1)

In [5]:
df.set_index('B')

        A1    A2     A3    sum
B
B1    3.83   3.0   2.67   9.50
B2    4.10   3.1   3.60  10.80
B3    3.63   3.6   3.20  10.43
B4    3.27   3.5   3.70  10.47
SUM  14.83  13.2  13.17  41.20

In [6]:
Q1 = 0
for i in range(3):
    for j in range(4):
        Q1 += df.to_numpy()[j,i+1]**2

In [7]:
Q2 = sum(df.iloc[4][1:4]**2)/4

In [8]:
Q3 = sum(df['sum'][:4]**2)/3

In [9]:
Q4 = sum(df.iloc[4][1:4])**2/12

In [10]:
Q5 = 0
for i in range(3):
    for j in range(4):
        for k in range(3):
            Q5 += raw[i][j][k]**2

In [11]:
s0 = (Q1 + Q4 - Q2 - Q3)/((k-1)*(m-1))

In [12]:
sA = (Q2 - Q4)/(k-1)
sA

0.45111666666667816

In [13]:
sB = (Q3-Q4)/(m-1)
sB

0.10397777777779045

In [14]:
sAB = (Q5 - n*Q1)/(m*k*(n-1))
sAB

0.07669999999999888

$F_{0.95}$(2,6) = 5.1

$F_{0.95}$(3,6) = 5.1

$F_{0.95}$(6,24) = 2.5

In [15]:
f26 = 5.1
f36 = 4.8
f624 = 2.5

In [16]:
def check(f1, f2, f):
    if f1/f2 < f:
        print('Влияение незначительное')
    else:
        print('Влияние значительное')

In [17]:
print('Фактор А')
check(sA,s0,f26)
print()
print('Фактор B')
check(sB,s0,f36)
print()
print('Факторы AB')
check(n*s0,sAB,f624)

Фактор А
Влияение незначительное

Фактор B
Влияение незначительное

Факторы AB
Влияние значительное